<!DOCTYPE html>
<html>
    <head>
        <title>LoginSentinel</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <header style="text-align: center;">
        <h1><img type="img/png" src="logo.png" style="width: 40px; height: 40px;">LoginSentinel</h1>
        <h3>Helping you choose safer passwords</h3>
        <nav>
            <a href="index.html">Home</a>
            <a href="password.html">Password Generator</a>
            <a href="about.html">About</a>
            <a href="updates.html">Dev updates</a>
            <a href="https://gitlab.com/saladhax/loginsentinel">GitLab</a>
        </nav>
    </header>
    <body>
        <div style="width: 95%; text-align: center; margin: 0 auto;" ng-app="">
            <h1 class="title">Passphrase Generator</h1>
            <h2 class="title">{{word2}}{{word1}}{{word3}}</h2>
            <input class="input" type="text" ng-model="word1" placeholder="Enter word 1">
            <input class="input" type="text" ng-model="word2" placeholder="Enter word 2">
            <input class="input" type="text" ng-model="word3" placeholder="Enter word 3">
        </div>
    </body>
    <footer style="text-align: center; bottom: 0; left: 0;">
        <p>Made (with love!) by <a href="https://saladhax.site">Saladhax</a></p>
        <p>Styled by <a href="simplecss.org">simple.css</a></p>
    </footer>
</html>